<html>
<div class="cart">
    <table class="cartTable">
        <tr class="labelLine">
            <td class="imageColumn"></td>
            <td class="productColumn">Produto</td>
            <td class="prizeColumn">Preço</td>
            <td class="quantityColumn">QTD</td>
        </tr>
        <tr class="productLine">
            <td class="imageColumn"></td>
            <td class="productColumn">Projetor Blulory</td>
            <td class="prizeColumn">R$233,50</td>
            <td class="quantityColumn">1</td>
        </tr>
        <tr class="productLine">
            <td class="imageColumn"></td>
            <td class="productColumn">Galaxy Tab S7 FE</td>
            <td class="prizeColumn">R$99,90</td>
            <td class="quantityColumn">2</td>
        </tr>
        <tr class="productLine">
            <td class="imageColumn"></td>
            <td class="productColumn">Echo Dot 4 Gen</td>
            <td class="prizeColumn">R$47,00</td>
            <td class="quantityColumn">1</td>
        </tr>
        <!-- Aqui deverao ser listados todos os produtos -->
    </table>

    <button class="buyButton">Finalizar Compra</button>
</div>
</html>