.cart{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    background: none;
    height: 665px;
    width: 100vw;
    margin-top: 100px;
}

.cartTable{
    position: absolute;
    border-style: groove;
    border: 1;
    border-color: black;
    background: none;
    top: 100px;
}

.imageColumn{
    width: 150px;
    background: none;
    border-style: groove;
    border: 1;
    border-color: black;
    padding: 10px;
}

.productColumn{
    width: 300px;
    background: none;
    font-size: 20px;
    border-style: groove;
    border: 1;
    border-color: black;
    padding: 10px;
}

.prizeColumn{
    width: 130px;
    background: none;
    font-size: 20px;
    border-style: groove;
    border: 1;
    border-color: black;
    padding: 10px;
}

.quantityColumn{
    width: 50px;
    background: none;
    font-size: 20px;
    text-align: center;
    border-style: groove;
    border: 1;
    border-color: black;
}

.labelLine{
    height: 40px;
}

.productLine{
    height: 100px;
}

.buyButton{
    position: absolute;
    bottom: 50px;
    border-radius: 40px;
    height: 50px;
    width: 250px;

    font-size: 20px;

    background: none;
}